In [1]:
import os
import copy
import pandas as pd 
import math
import numpy as np 
import matplotlib.pyplot as plt
from datetime import datetime

In [2]:
from tqdm.auto import tqdm
tqdm.pandas()

In [3]:
path = os.getcwd()
input_path = os.path.join(path, 'BD/Rel_Desembarque_2005_2020_mod.xlsx')
print('path of file excel = ', input_path)

path of file excel =  /media/superuser/Almacen/projs/BCA_RAI/newDB/BD/Rel_Desembarque_2005_2020_mod.xlsx

In [4]:
dfRelDes = pd.read_excel(input_path)

In [5]:
print("size of table = ",dfRelDes.shape)
dfRelDes.head()

size of table =  (809396, 50)

,ID,Arte,SubArte,TI,Comunidade,Porto Desembarque,Data Registro,Entrevistado,Embarcação,Núm. Pescadores,...,Houve Captura,Litros Combust.,Combustível(R$),Rancho(R$),Gêlo(R$),Isca(R$),Venda Direta,Atravessador,Consumo,"Peixaria,Mercado"
0,1,ARMADILHA,GAIOLA,BTS,Salinas da Margarida,Porto do Araçá,17/09/2005,Colofila,Apasma 7,1.0,...,V,0.0,0.0,0.0,0.0,0.0,False,False,False,False
1,2,ARMADILHA,GAIOLA,BTS,Cabuçu,Porto principal,11/11/2005,Lázaro,Nascido para Vencer,3.0,...,V,0.0,0.0,0.0,0.0,0.0,False,False,False,False
2,3,ARMADILHA,GAIOLA,BTS,Cabuçu,Porto principal,11/11/2005,Fernandinho,Fera do Mar,3.0,...,V,0.0,0.0,0.0,0.0,0.0,False,False,False,False
3,4,ARMADILHA,GAIOLA,BTS,Cabuçu,Porto principal,29/11/2005,Dani,Silas II,3.0,...,V,0.0,0.0,0.0,0.0,0.0,False,False,False,False
4,5,ARMADILHA,GAIOLA,BTS,Cabuçu,Porto principal,30/11/2005,Claudinho,Periguete,3.0,...,V,0.0,0.0,0.0,0.0,0.0,False,False,False,False

In [6]:
for cc, ii in enumerate(dfRelDes['Arte'].unique()):
    print(cc + 1, "<==> " ,ii)

1 <==>  ARMADILHA
2 <==>  ARRASTO
3 <==>  EMALHE
4 <==>  CERCO
5 <==>  REÇA
6 <==>  LINHA
7 <==>  MERG_MARISC
8 <==>  CAMBOA

In [7]:
for cc, ii in enumerate(dfRelDes['SubArte'].unique()):
    print(cc + 1, "<==> " ,ii)

1 <==>  GAIOLA
2 <==>  MANZUÁ
3 <==>  JERERÉ
4 <==>  REDINHA
5 <==>  CALÃO
6 <==>  ARRASTO DE FUNDO OU BALOEIRO
7 <==>  Não Informado
8 <==>  EMALHE
9 <==>  PESQUEIRO
10 <==>  CERCO
11 <==>  ABALO
12 <==>  REÇA
13 <==>  ARRAEIRA
14 <==>  TAINHEIRA
15 <==>  PARUZEIRA
16 <==>  LINHA DE MÃO
17 <==>  ESPINHEL
18 <==>  GROSEIRA
19 <==>  TARRAFA
20 <==>  MARISCAGEM
21 <==>  MERGULHO
22 <==>  CAMBOA
23 <==>  nan
24 <==>  CAÇA E PESCA
25 <==>  SUPERFÍCIE BOIADA
26 <==>  FUNDO PEIXE
27 <==>  FUNDO CAMARÃO

In [8]:
dfRelDes['TI'].value_counts()

TI
BAIXO SUL    469929
BTS          339460
Name: count, dtype: int64

In [9]:
dfRelDes.columns

Index(['ID', 'Arte', 'SubArte', 'TI', 'Comunidade', 'Porto Desembarque',
       'Data Registro', 'Entrevistado', 'Embarcação', 'Núm. Pescadores',
       'Pesqueiro', 'Espécie', 'Captura(kg)', 'Valor/Kg(R$)', 'Data Saída',
       'Hora Saída', 'Data Chegada', 'Hora Chegada', 'Tipo Embarc.',
       'Tipo IBAMA', 'Núm. Linhas', 'Núm. Anzóis', 'Tamanho Anzol', 'Isca',
       'Espécie Alvo', 'Comp. Rede', 'Tamanho Malha', 'Altura Malha',
       'Quantas Camboas', 'Dias Não Despesca Camboa', 'Quant. Morredores',
       'Núm. Pescadores Participaram', 'Proprietário Camboa',
       'Núm. Armadilhas', 'Tamanho Armadilhas', 'Núm. Bocas Armadilha',
       'Utiliza Guincho', 'Quant. Dias Pescou Mês', 'Observação',
       'Profund. Lance', 'Houve Captura', 'Litros Combust.', 'Combustível(R$)',
       'Rancho(R$)', 'Gêlo(R$)', 'Isca(R$)', 'Venda Direta', 'Atravessador',
       'Consumo', 'Peixaria,Mercado'],
      dtype='object')

In [10]:
lsColInt = ['ID', 'Arte', 'SubArte', 'TI', 'Comunidade', 'Porto Desembarque',
       'Data Registro', 'Entrevistado', 'Embarcação', 'Núm. Pescadores',
       'Pesqueiro', 'Espécie', 'Captura(kg)', 'Valor/Kg(R$)', 'Data Saída','Espécie Alvo',
            'Núm. Linhas', 'Núm. Anzóis', 'Tamanho Anzol',
       'Hora Saída', 'Data Chegada', 'Hora Chegada', 'Tipo Embarc.', 'Tamanho Malha', 'Altura Malha',
       'Isca', 'Comp. Rede','Quant. Dias Pescou Mês',
       'Litros Combust.', 'Combustível(R$)','Rancho(R$)', 'Gêlo(R$)', 
        'Isca(R$)', 'Venda Direta', 'Consumo'
    ]

In [11]:
path = os.getcwd()
input_pathCPUE = os.path.join(path, 'BD/CPUE_Individual2005-2020.xlsx')
print('path of file excel = ', input_pathCPUE)

path of file excel =  /media/superuser/Almacen/projs/BCA_RAI/newDB/BD/CPUE_Individual2005-2020.xlsx

In [12]:
dfCPUE = pd.read_excel(input_pathCPUE)

In [13]:
print("size of table = ",dfCPUE.shape)
dfCPUE.head()

size of table =  (401187, 21)

,Ano,Mês,ID,Comunidade,Arte,SubArte,KgTotal,R$Total,Dias de Viagem,Horas de Viagem,...,Horas Pesca Efetiva,CPUE kg/dia,Valoração,Espécie Alvo,Embarcação,Tipo IBAMA,Núm. Lances,Pescadores,Anzóis,Armadilhas
0,2005,12,3728,Cabuçu,ARMADILHA,GAIOLA,14.75,22.125,1,25,...,24,59.0,22.125,Não Informado,Canoa,Canoa,3.0,1.0,0.0,20.0
1,2005,12,3721,Cabuçu,ARMADILHA,GAIOLA,2.50,3.750,1,3,...,2,10.0,3.750,Não Informado,Canoa Motorizada,Barco motorizado,2.0,2.0,0.0,16.0
2,2005,12,3678,Cabuçu,ARMADILHA,GAIOLA,5.00,7.500,1,25,...,24,20.0,7.500,Não Informado,Canoa Motorizada,Barco motorizado,6.0,2.0,0.0,21.0
3,2005,12,3595,Cabuçu,ARMADILHA,GAIOLA,2.50,3.750,1,21,...,20,10.0,3.750,Não Informado,Canoa,Canoa,3.0,2.0,0.0,16.0
4,2005,12,3505,Cabuçu,ARMADILHA,GAIOLA,7.50,11.250,1,19,...,18,30.0,11.250,Não Informado,Canoa Motorizada,Barco motorizado,4.0,2.0,0.0,16.0

In [14]:
dfCPUE.columns

Index(['Ano', 'Mês', 'ID', 'Comunidade', 'Arte', 'SubArte', 'KgTotal',
       'R$Total', 'Dias de Viagem', 'Horas de Viagem', 'Dias Pesca Efetiva',
       'Horas Pesca Efetiva', 'CPUE kg/dia', 'Valoração', 'Espécie Alvo',
       'Embarcação', 'Tipo IBAMA', 'Núm. Lances', 'Pescadores', 'Anzóis',
       'Armadilhas'],
      dtype='object')

In [ ]:
dfCPUE[dfCPUE['ID'] == 792978]

In [ ]:
colInt = ['ID', 'Arte', 'SubArte', 'TI', 'Comunidade',
       'Data Registro', 'Entrevistado', 'Embarcação', 'Núm. Pescadores',
       'Pesqueiro', 'Espécie', 'Captura(kg)','Quant. Dias Pescou Mês'] #  'Porto Desembarque',
dfRelDes[dfRelDes['ID'] == 792978][colInt]

In [ ]:
dfCPUE[dfCPUE['ID'] == 31272]

In [ ]:
dfCPUE[dfCPUE['ID'] == 31272].shape[0]

In [ ]:
dfCPUE[dfCPUE['ID'] == 31272]['Arte'].iloc[0]

In [ ]:
dfRelDes[dfRelDes['ID'] == 31272][colInt]

Join da tabela de relações com a tabela

In [ ]:
colDesInt = [
    'ID', 'Arte', 'SubArte', 'TI', 'Comunidade', 'Porto Desembarque',
    'Data Registro', 'Entrevistado', 'Embarcação', 'Núm. Pescadores',
    'Pesqueiro', 'Espécie', 'Captura(kg)', 'Valor/Kg(R$)', 'Data Saída','Espécie Alvo',
    'Núm. Linhas', 'Núm. Anzóis', 'Tamanho Anzol', 'Altura Malha',
    'Hora Saída', 'Data Chegada', 'Hora Chegada', 'Tipo Embarc.', 'Tamanho Malha',
    'Isca', 'Comp. Rede','Quant. Dias Pescou Mês',
    'Litros Combust.', 'Combustível(R$)','Rancho(R$)', 'Gêlo(R$)', 
    'Isca(R$)', 'Venda Direta', 'Consumo'
]
colComun = ['ID', 'Comunidade', 'Arte', 'SubArte']
colCPUEInt = [
    'Ano', 'Mês', 'KgTotal', 'R$Total', 'Dias de Viagem', 'Horas de Viagem', 
    'Dias Pesca Efetiva', 'Horas Pesca Efetiva', 'CPUE kg/dia', 'Valoração', 
    'Espécie Alvo', 'Embarcação', 'Tipo IBAMA', 'Núm. Lances', 'Pescadores',
    'Anzóis','Armadilhas'
]

##### Selecionando as colunas de interesse

In [ ]:
dfRelDes = dfRelDes[colDesInt]
print("Agora tem {} colunas ".format(len(dfRelDes.columns)))
dfRelDes.columns

In [ ]:
dfRelDes.shape

In [ ]:
colCPUEInt = [ 'Ano', 'Mês', 'KgTotal', 'R$Total', 'CPUE kg/dia', 'Valoração', 'Embarcação']
def Join_tablesDesembarque_vs_CPUE(row):
    # variaveis principais 
    idRow = row['ID'] 
    comunRow = row['Comunidade']
    arteRow = row['Arte']
    subArteRow = row['SubArte']
    
    if dfCPUE[dfCPUE['ID'] == idRow].shape[0] > 0:
        comunRowcpue = dfCPUE[dfCPUE['ID'] == idRow]['Comunidade'].iloc[0] 
        arteRowcpue = dfCPUE[dfCPUE['ID'] == idRow]['Arte'].iloc[0] 
        subArteRowcpue = dfCPUE[dfCPUE['ID'] == idRow]['SubArte'].iloc[0] 
        
        for newCol in colCPUEInt:               
            row[newCol] = dfCPUE[dfCPUE['ID'] == idRow][newCol].iloc[0] 
        if comunRow != comunRowcpue or arteRow != arteRowcpue or subArteRow != subArteRowcpue:
            row['corresponde'] = False
        else:
            row['corresponde'] = True
            
    else:
        for newCol in colCPUEInt:               
            row[newCol] = np.nan
        row['corresponde'] = False
        
    return row 

dfRelDes = dfRelDes.apply(Join_tablesDesembarque_vs_CPUE, axis=1)

In [ ]:
print(" temos {} colunas ".format(len(dfRelDes.columns)))
print(dfRelDes.shape)
dfRelDes.columns

In [ ]:
len(dfRelDes.Arte.unique())

In [ ]:
len(dfRelDes.SubArte.unique())

In [ ]:
print("== > ", len(dfRelDes['Pesqueiro'].unique()))
dfRelDes['Pesqueiro'].unique()

In [ ]:
dfRelDes.to_csv('BD/Rel_Desembarque_2005_2020_Ampliado_CPUE_2023.csv')

In [ ]:
# saving the excel
dfRelDes.to_excel('BD/Rel_Desembarque_2005_2020_Ampliado_CPUE_2023.xlsx')

# Read tabel desembarque Ampliado com CPUE from file CSV

In [ ]:
dfRelDes = pd.read_csv('BD/Rel_Desembarque_2005_2020_Ampliado_CPUE_2023.csv')
dfRelDes.shape

In [ ]:
dfRelDes.columns

### adding the other table  Pesqueiro agrupada da tabela PescaManati

In [ ]:
df_pesq = pd.read_csv('coord_PesqueirosAtualizada.csv')

In [ ]:
df_pesq.columns

In [ ]:
df_pesq.head()

In [ ]:
df_pesq['.geo'][0]

In [ ]:
def get_coordenadasCol(row):
    geoRow = row['.geo']
    geoRow = geoRow.replace('{"type":"Point","coordinates":[', '')
    geoRow = geoRow.replace(']}', '')
    geoRow = geoRow.split(',')
    
    row['CoordX'] = geoRow[0]
    row['CoordY'] = geoRow[1]
    
    return row 

df_pesq = df_pesq.apply(get_coordenadasCol, axis=1)

In [ ]:
# distancia de pesqueiro está e metros 

df_pesq.head()

In [ ]:
df_pesq.drop(['system:index', '.geo'], axis=1, inplace=True)

In [ ]:
print("size table pesqueiros ", df_pesq.shape)
df_pesq.columns

In [ ]:
colPesqInt = ['Nome_Pesqueiro', 'dist_gasoduto', 'dist_plataforma', 'indice','CoordX', 'CoordY']
df_pesq = df_pesq[colPesqInt]

In [ ]:
df_pesq.columns

In [ ]:
len(df_pesq.Nome_Pesqueiro.unique())

In [ ]:
dfRelDes.columns

In [ ]:
len(dfRelDes.Pesqueiro.unique())

In [ ]:
# distancia de pesqueiro está em km
df_pesqAg = pd.read_csv('tabela_pesqueiro_argupada.csv')
df_pesqAg.head()

In [ ]:
len(df_pesqAg.pesqueiro.unique())

In [ ]:
df_pesqAg.columns

### cruzar as tabelas de pesqueiros para saber se coincidem

In [ ]:
lst_pesqAg = [kk for kk in df_pesqAg.pesqueiro.unique()]
lst_pesq = [kk for kk in df_pesq.Nome_Pesqueiro.unique()]
lst_falta = []
for pesq in lst_pesqAg:
    print(pesq)
    if pesq not in lst_pesq:
        lst_falta.append(pesq)
        print("----------AGREGADO -------------------")
        
print(lst_falta)

In [ ]:
lst_falta = ['Farol', 'Coroa das Pedras']
df_pesqAgreg = df_pesqAg[df_pesqAg['pesqueiro'].isin(lst_falta)]
print("pesqueiro desse DF ", df_pesqAgreg.pesqueiro.unique())
print("size  ", df_pesqAgreg.shape)
df_pesqAgreg.head()

In [ ]:
df_pesqAgreg = df_pesqAgreg[['pesqueiro','coordX', 'coordY', 'dist_gas', 'dist_plat']]

In [ ]:
print(df_pesqAgreg)

In [ ]:
df_pesqAgreg['dist_gas'] = pd.to_numeric(df_pesqAgreg['dist_gas'])

In [ ]:
# Levando a distancia a metros 
df_pesqAgreg['dist_plat'] = df_pesqAgreg['dist_plat'] *1000
df_pesqAgreg['dist_gas'] = df_pesqAgreg['dist_gas'] *1000

In [ ]:
df_pesqAgreg.head()

In [ ]:
df_pesqAgreg[df_pesqAgreg['pesqueiro'] == 'Farol'].iloc[0]

In [ ]:
new_row = {'Courses': 'Hyperion', 'Fee': 24000, 'Duration': '55days', 'Discount': 1800}

In [ ]:
df_pesq.head()

In [ ]:
def calculodistancia_doisPoints(coordXe, coordYe):    
    coordYplat = -13.4899
    coordXplat = -38.8124
    
    difX2 = math.pow(abs(coordXe - coordXplat), 2)
    difY2 = math.pow(abs(coordYe - coordYplat), 2)
#     print(difX2, difY2)
    distP = math.sqrt(difX2 + difY2)
    
    return distP * 111.32

def Join_tablesDesembarque_CPUE_vs_pesqueiro(row):
    # variaveis principais     
    pesqRow = row['Pesqueiro']    
    
    if df_pesq[df_pesq['Nome_Pesqueiro'] == pesqRow].shape[0] > 0:
        row['CoordX'] = df_pesq[df_pesq['Nome_Pesqueiro'] == pesqRow]['CoordX'].iloc[0] 
        row['CoordY']= df_pesq[df_pesq['Nome_Pesqueiro'] == pesqRow]['CoordY'].iloc[0] 
        # 'dist_gas', 'dist_plat',
        dist_gas = df_pesq[df_pesq['Nome_Pesqueiro'] == pesqRow]['dist_gasoduto'].iloc[0]
        dist_plat = df_pesq[df_pesq['Nome_Pesqueiro'] == pesqRow]['dist_plataforma'].iloc[0]
        
        row['dist_gas'] = dist_gas
        row['dist_plat'] = dist_plat
#         dist_gas = calculodistancia_doisPoints(coordXRowpesq, coordYRowpesq)
#         row['ndist_gas'] = dist_gas
        try:
            if float(dist_gas) < 0.5:
                row['menor_500M'] = True
            elif dist_gas <= 5:
                row['entre_05_5KM'] = True
            else:
                row['menor_500M'] = False
                row['entre_05_5KM'] = False
        except:
            row['menor_500M'] = np.nan
            row['entre_05_5KM'] = np.nan
            
    else:
        row['CoordX'] = np.nan
        row['CoordY'] = np.nan
        row['dist_gas'] = np.nan
        row['dist_plat'] = np.nan
        row['menor_500M'] = np.nan
        row['entre_05_5KM'] = np.nan
        
    return row 

dfRelDes = dfRelDes.progress_apply(Join_tablesDesembarque_CPUE_vs_pesqueiro, axis=1)

In [ ]:
dfRelDes.shape

In [ ]:
dfRelDes.head()

In [ ]:
dfRelDes.to_csv('BD/Rel_Desembarque_2005_2020_Ampliado_CPUE_coordenadasPequeiros_2023.csv')

In [ ]:
df_pesq_group = df_pesq.groupby(colPesqInt).agg(Count=('Nome_Pesqueiro', 'count')).reset_index()
df_pesq_group

In [ ]:
input_path_pesq = os.path.join(path, 'BD/Pesqueiros - Rev.01.xlsx')
print('path of file excel Pesqueiros = ', input_path_pesq)

In [ ]:
df_lstPesq = pd.read_excel(input_path_pesq)
print("size of table Pesqueiros = ",df_lstPesq.shape)
df_lstPesq.head()

In [ ]:
print(df_lstPesq.columns)
df_lstPesq.columns = ['Pesqueiro', 'CoordX', 'CoordY']
print("colunas modificadas = ", df_lstPesq.columns)

In [ ]:
df_lstPesq[df_lstPesq['Pesqueiro'] == 'Coroa de Dudinha']

In [ ]:

df_lstPesq[df_lstPesq['Pesqueiro'] == 'Chiqueiro - Camamu']

In [ ]:
print("agora numero de colunas {} ".format(len(dfRelDes.columns)))
print("size table ", dfRelDes.shape)
dfRelDes.head()

In [ ]:
dfRelDes.columns

In [ ]:
dfRelDes.to_csv('BD/Desembarque_Ampliado_CPUE_pesqueiro_08_2023.csv',index=False)

In [ ]:
# saving the excel
dfRelDes.to_excel('BD/Desembarque_Ampliado_CPUE_pesqueiro_08_2023.xlsx')

In [ ]:
dfRelDes.shape

In [ ]:
dfRelDes.shape

In [ ]:
dfRelDes.columns